/* Animation gif */
/*
@keyframes bounce {
  from {
    top: 100px;
    animation-timing-function: ease-out;
  }
  25% {
    top: 50px;
    animation-timing-function: ease-in;
  }
  50% {
    top: 100px;
    animation-timing-function: ease-out;
  }
  75% {
    top: 75px;
    animation-timing-function: ease-in;
  }
  to {
    top: 100px;
  }
}
*/

@font-face {
	
	font-family: Gunplay_RG;
    src: url("../fonts/Gunplay_RG.ttf");
}

body{
    /*background: #4d602a;*/
	background-image: url("../images/Background.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

.gameFullContent{
    width: 100%;
    display: flex;
}

.leftContainer{
    width: calc(100% * 0.25);
}

.version{
	font-family: Gunplay_RG;
}

.resetButton{
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 8%;
    height: 8%;
    border: 3px solid black;
    font-size: 12pt;
	font-family: Gunplay_RG;
    background: #c3b091;
    color: white;
    cursor: pointer;
}

/* Main Container */
/* THE BITCOIN IMAGE */

.mainGameContent{
    width: calc(100% * 0.5);
}

/* Right Container */
/* All items which you can buy */

.rightContainer{
    width: calc(100% * 0.25);
    border: 4px solid white;
    max-height: 96vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.bitcoinAmountDisplay{
    text-align: center;
	font-family: Gunplay_RG;
    font-size: 30pt;
    color: white;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
    margin: 20px 0 0 0px;
}

.satoshiAmountDisplay {
    text-align: center;
	font-family: Gunplay_RG;
    font-size: 15pt;
    color: white;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
    padding: 0 !important;
    margin: 0 0 -15px 0px;

}
.bSecRate{
    text-align: center;
	font-family: Gunplay_RG;
    font-size: 25pt;
    color: white;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
}

/* BITCOIN */

.bitcoin{
    width: 25%;
    display: block;
    position: absolute;
    left: 30%;
    right: 30%;
    margin: 0 auto;
    top: 25%;
    transition: width 0.2s ease-in-out, top 0.2s ease-in-out;
    animation: bounce 15s linear infinite;
    border-radius: 500px;
}

.bitcoin:hover{
    width: 27%;
    top: 23%;
    transition: width 0.2s ease-in-out, top 0.2s ease-in-out;
    cursor:pointer;
}
.bitcoin:active{
    width: 23%;
    top: 27%;
    transition: width 0.2s ease-in-out, top 0.2s ease-in-out;
}

/* Item list */
.purchaseList{
    list-style-type: none;
	font-family: Gunplay_RG;
    margin: 0;
    padding: 0;
}

/* Optimization for smaller screens */

@media screen and (max-width: 767px) {
    /* BITCOIN */
    .bitcoin{
        width: 35%;
        display: block;
        position: absolute;
        left: 30%;
        right: 30%;
        margin: 0 auto;
        top: 35%;
        transition: width 0.2s ease-in-out, top 0.2s ease-in-out;
		animation: bounce 15s linear infinite;
        border-radius: 500px;
    }
    .bitcoin:hover{
        width: 37%;
        top: 33%;
        transition: width 0.2s ease-in-out, top 0.2s ease-in-out;
        cursor: pointer;
    }
    .bitcoin:active{
        width: 33%;
        top: 37%;
        transition: width 0.2s ease-in-out, top 0.2s ease-in-out;
    }
}

/* Item section */

.purchaseItem{
    width: 99%;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    padding-left: 10px;
	background: gray;
}
.purchaseItem:hover{
	background: linear-gradient(#e66465, #9198e5);
    cursor: pointer;
}
.amountOfItem{
    float: right;
    font-size: 55pt;
    margin-right: 15px;
	color: white;
    margin-top: 5px;
    margin-bottom: -50px;
}
.itemHeadline{
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #758000;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
}

.itemPrice{
	font-size: 12pt;
	color: white;
	font-family: Gunplay_RG;
}

#target {
	
}

* {
    -ms-touch-action: none;
    touch-action: none;
  }

/* Item list */

#item_grayStone{
	background-image: url(../images/Stone.png);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	opacity: 0.75;
}

#item_woodSpear{
	background-image: url(../images/Spear.png);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	opacity: 0.75;
}

#item_cocktailMolotov{
	background-image: url(../images/Molotov.png);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	opacity: 0.75;
}

#item_rgdGrenade{
	background-image: url(../images/Grenade.png);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	opacity: 0.75;
}

#item_troopMine{
	background-image: url(../images/Mine.png);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	opacity: 0.75;
}

#item_mortarMP120{
	background-image: url(../images/Mortar.png);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	opacity: 0.75;
}

#item_autoMortar{
	background-image: url(../images/AutoMortar.png);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	opacity: 0.75;
}

#item_howitzerT12{
	background-image: url(../images/Howitzer.png);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	opacity: 0.75;
}

#item_weaponStugna{
	background-image: url(../images/Stugna.png);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	opacity: 0.75;
}

#item_weaponJavelin{
	background-image: url(../images/Javelin.png);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	opacity: 0.75;
}

#item_weaponNLAW{
	background-image: url(../images/NLAW.png);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	opacity: 0.75;
}

#item_droneBlade{
	background-image: url(../images/Switchblade.png);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	opacity: 0.75;
}

#item_weaponUKR{
	background-image: url(../images/UKR.png);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	opacity: 0.75;
}

#item_bombBogdana{
	background-image: url(../images/Bogdana.png);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	opacity: 0.75;
}

#item_bombVerba{
	background-image: url(../images/Verba.png);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	opacity: 0.75;
}

#item_droneBayraktar{
	background-image: url(../images/Bayraktar.png);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	opacity: 0.75;
}

#item_fighterSU{
	background-image: url(../images/SU27.png);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	opacity: 0.75;
}

#item_bombTochka{
	background-image: url(../images/TochkaU.png);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	opacity: 0.75;
}
